apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_argocd_gitops_repo_secret_name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: {{ k3s_argocd_gitops_repo_name }}
  type: git
  url: {{ k3s_argocd_gitops_repo_url }}
  sshPrivateKey: |
{{ k3s_argocd_gitops_repo_ssh_private_key | indent(4, true) }}