apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_external_dns_rfc2136_secret_name }}
  namespace: {{ k3s_external_dns_namespace }}
type: Opaque
stringData:
  tsig-keyname: {{ k3s_external_dns_rfc2136_tsig_keyname }}
  tsig-secret: {{ k3s_external_dns_rfc2136_tsig_secret }}
  tsig-secret-alg: {{ k3s_external_dns_rfc2136_tsig_secret_alg }}