apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_harbor_admin_secret_name }}
  namespace: {{ k3s_harbor_namespace }}
type: Opaque
stringData:
  HARBOR_ADMIN_PASSWORD: {{ k3s_harbor_admin_password | quote }}
