set -a

OWUI_WEB_MEMORY_SEARXNG_URL="{{ openwebui_web_memory_searxng_url }}"
OWUI_WEB_MEMORY_USER_AGENT="{{ openwebui_web_memory_user_agent }}"
OWUI_WEB_MEMORY_HTTP_TIMEOUT="{{ openwebui_web_memory_http_timeout }}"
OWUI_WEB_MEMORY_MAX_RESULTS_PER_QUERY="{{ openwebui_web_memory_max_results_per_query }}"
OWUI_WEB_MEMORY_MAX_URLS_PER_RUN="{{ openwebui_web_memory_max_urls_per_run }}"
OWUI_WEB_MEMORY_QUERY_MIN_LENGTH="{{ openwebui_web_memory_query_min_length }}"
OWUI_WEB_MEMORY_MAX_CHAT_QUERIES="{{ openwebui_web_memory_max_chat_queries }}"
OWUI_WEB_MEMORY_SEED_QUERIES_JSON='{{ openwebui_web_memory_seed_queries | to_json }}'

OWUI_WEB_MEMORY_MIN_TEXT_LENGTH="{{ openwebui_web_memory_min_text_length }}"
OWUI_WEB_MEMORY_MAX_DOC_CHARS="{{ openwebui_web_memory_max_doc_chars }}"
OWUI_WEB_MEMORY_CHUNK_SIZE="{{ openwebui_web_memory_chunk_size }}"
OWUI_WEB_MEMORY_CHUNK_OVERLAP="{{ openwebui_web_memory_chunk_overlap }}"
OWUI_WEB_MEMORY_MAX_CHUNKS_PER_DOC="{{ openwebui_web_memory_max_chunks_per_doc }}"
OWUI_WEB_MEMORY_CRAWL_INTERVAL_HOURS="{{ openwebui_web_memory_crawl_interval_hours }}"

OWUI_WEB_MEMORY_OPENWEBUI_DB_PATH="{{ openwebui_web_memory_openwebui_db_path }}"
OWUI_WEB_MEMORY_BLOCKED_URLS_FILE="{{ openwebui_web_memory_blocked_urls_file }}"
OWUI_WEB_MEMORY_STATE_FILE="{{ openwebui_web_memory_state_file }}"
OWUI_WEB_MEMORY_EMBEDDING_PROVIDER="{{ openwebui_web_memory_embedding_provider }}"
OWUI_WEB_MEMORY_EMBEDDING_DIMENSION="{{ openwebui_web_memory_embedding_dimension }}"
OWUI_WEB_MEMORY_OLLAMA_URL="{{ openwebui_web_memory_ollama_url }}"
OWUI_WEB_MEMORY_OLLAMA_MODEL="{{ openwebui_web_memory_ollama_model }}"
OWUI_WEB_MEMORY_OLLAMA_TIMEOUT="{{ openwebui_web_memory_ollama_timeout }}"

OWUI_WEB_MEMORY_QDRANT_URL="{{ openwebui_web_memory_qdrant_url }}"
OWUI_WEB_MEMORY_QDRANT_COLLECTION="{{ openwebui_web_memory_qdrant_collection }}"

OWUI_WEB_MEMORY_DB_HOST="{{ openwebui_web_memory_postgres_host }}"
OWUI_WEB_MEMORY_DB_PORT="{{ openwebui_web_memory_postgres_port }}"
OWUI_WEB_MEMORY_DB_NAME="{{ openwebui_web_memory_postgres_db }}"
OWUI_WEB_MEMORY_DB_USER="{{ openwebui_web_memory_postgres_user }}"
OWUI_WEB_MEMORY_DB_PASSWORD="{{ openwebui_web_memory_postgres_password }}"
OWUI_WEB_MEMORY_DB_SSLMODE="{{ openwebui_web_memory_postgres_sslmode }}"

set +a
