[Unit]
Description=pgAdmin
After=docker.service
Requires=docker.service

[Service]
Type=exec
WorkingDirectory={{ pgadmin_project_dir }}
ExecStart=/usr/bin/docker compose -f {{ pgadmin_compose_file }} up --remove-orphans
ExecStop=/usr/bin/docker compose -f {{ pgadmin_compose_file }} down
Restart=on-failure
RestartSec=10s
User={{ pgadmin_primary_user }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
