services:
  grafana:
    image: {{ grafana_image }}
    container_name: {{ grafana_container_name }}
    restart: {{ grafana_restart_policy }}
    volumes:
      - {{ grafana_data_dir }}:/var/lib/grafana
      - {{ grafana_provisioning_dir }}:/etc/grafana/provisioning
{% if grafana_auth_ldap_enabled | bool %}
      - {{ grafana_ldap_config_path }}:/etc/grafana/ldap.toml:ro
{% endif %}
    environment:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_username }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_AUTH_LDAP_ENABLED: "{{ 'true' if grafana_auth_ldap_enabled | bool else 'false' }}"
{% if grafana_auth_ldap_enabled | bool %}
      GF_AUTH_LDAP_ALLOW_SIGN_UP: "{{ 'true' if grafana_auth_ldap_allow_sign_up | bool else 'false' }}"
      GF_AUTH_LDAP_CONFIG_FILE: "/etc/grafana/ldap.toml"
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`{{ grafana_traefik_hostname }}`)"
      - "traefik.http.routers.grafana.entrypoints={{ grafana_traefik_entrypoint }}"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
    networks:
      - traefik_proxy
    pull_policy: always

networks:
  traefik_proxy:
    external: true
