apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_headlamp_oidc_secret_name }}
  namespace: {{ k3s_headlamp_namespace }}
type: Opaque
stringData:
  OIDC_CLIENT_ID: {{ k3s_headlamp_oidc_client_id | quote }}
  OIDC_CLIENT_SECRET: {{ k3s_headlamp_oidc_client_secret | quote }}
  OIDC_ISSUER_URL: {{ k3s_headlamp_oidc_issuer_url | quote }}
  OIDC_SCOPES: {{ k3s_headlamp_oidc_scopes | quote }}
{% if (k3s_headlamp_oidc_callback_url | default('') | length) > 0 %}
  OIDC_CALLBACK_URL: {{ k3s_headlamp_oidc_callback_url | quote }}
{% endif %}
{% if (k3s_headlamp_oidc_validator_client_id | default('') | length) > 0 %}
  OIDC_VALIDATOR_CLIENT_ID: {{ k3s_headlamp_oidc_validator_client_id | quote }}
{% endif %}
{% if (k3s_headlamp_oidc_validator_issuer_url | default('') | length) > 0 %}
  OIDC_VALIDATOR_ISSUER_URL: {{ k3s_headlamp_oidc_validator_issuer_url | quote }}
{% endif %}
  OIDC_USE_ACCESS_TOKEN: {{ k3s_headlamp_oidc_use_access_token | quote }}
  OIDC_USE_PKCE: {{ k3s_headlamp_oidc_use_pkce | quote }}
{% if (k3s_headlamp_oidc_me_user_info_url | default('') | length) > 0 %}
  ME_USER_INFO_URL: {{ k3s_headlamp_oidc_me_user_info_url | quote }}
{% endif %}
