services:
  lldap:
    image: {{ lldap_image }}
    container_name: {{ lldap_container_name }}
    restart: unless-stopped
    ports:
      - "{{ lldap_ldap_bind_address }}:{{ lldap_ldap_host_port }}:{{ lldap_ldap_port }}"
    volumes:
      - {{ lldap_data_dir }}:/data
    environment:
      LLDAP_VERBOSE: "{{ lldap_verbose | lower }}"
      LLDAP_JWT_SECRET: "{{ lldap_jwt_secret }}"
      LLDAP_LDAP_USER_DN: "{{ lldap_ldap_user_dn }}"
      LLDAP_LDAP_USER_PASS: "{{ lldap_ldap_user_pass }}"
      LLDAP_LDAP_BASE_DN: "{{ lldap_base_dn }}"
      LLDAP_HTTP_URL: "{{ lldap_http_url }}"
      LLDAP_DATABASE_URL: "postgresql://{{ lldap_db_user }}:{{ lldap_db_password }}@{{ lldap_db_host }}:{{ lldap_db_port }}/{{ lldap_db_name }}"
      LLDAP_HTTP_PORT: "{{ lldap_web_port }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lldap.rule=Host(`{{ lldap_traefik_hostname }}`)"
      - "traefik.http.routers.lldap.entrypoints={{ lldap_traefik_entrypoint }}"
      - "traefik.http.services.lldap.loadbalancer.server.port={{ lldap_web_port }}"
    networks:
      - traefik_proxy
    pull_policy: always

networks:
  traefik_proxy:
    external: true
