[Unit]
Description=LLDAP Compose service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ lldap_primary_user }}
WorkingDirectory={{ lldap_project_dir }}
EnvironmentFile=-{{ lldap_env_file }}
ExecStart=/usr/bin/docker compose -f {{ lldap_compose_file }} up -d
ExecStop=/usr/bin/docker compose -f {{ lldap_compose_file }} down
ExecReload=/usr/bin/docker compose -f {{ lldap_compose_file }} up -d
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
