services:
  open-webui:
    image: {{ openwebui_image }}
    container_name: {{ openwebui_container_name }}
    restart: {{ openwebui_restart_policy }}
    volumes:
      - {{ openwebui_data_dir }}:/app/backend/data
    environment:
      WEBUI_URL: "{{ openwebui_webui_base_url }}"
      OPENAI_API_BASE_URL: "{{ openwebui_openai_base_url }}"
      OPENAI_API_KEY: "{{ openwebui_openai_api_key }}"
      OPENAI_API_BASE_URLS: "{{ openwebui_openai_api_base_urls | join(';') }}"
      OPENAI_API_KEYS: "{{ openwebui_openai_api_keys | join(';') }}"
      ENABLE_RAG_WEB_SEARCH: "true"
      RAG_WEB_SEARCH_ENGINE: "searxng"
      SEARXNG_QUERY_URL: "{{ openwebui_searxng_query_url }}"
      VECTOR_DB: "qdrant"
      QDRANT_URI: "{{ openwebui_qdrant_endpoint }}"
      QDRANT_COLLECTION_PREFIX: "{{ openwebui_qdrant_collection_prefix }}"
      OLLAMA_BASE_URL: "{{ openwebui_ollama_base_url }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`{{ openwebui_traefik_hostname }}`)"
      - "traefik.http.routers.openwebui.entrypoints={{ openwebui_traefik_entrypoint }}"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    networks:
      - traefik_proxy
    pull_policy: always

networks:
  traefik_proxy:
    external: true
