services:
  open-webui:
    image: {{ openwebui_image }}
    container_name: {{ openwebui_container_name }}
    restart: {{ openwebui_restart_policy }}
    volumes:
      - {{ openwebui_data_dir }}:/app/backend/data
    environment:
      WEBUI_URL: "{{ openwebui_webui_base_url }}"
      ENABLE_LDAP: "{{ openwebui_auth_ldap_enabled | string | lower }}"
      LDAP_SERVER_LABEL: "{{ openwebui_ldap_server_label }}"
      LDAP_SERVER_HOST: "{{ openwebui_ldap_server_host }}"
      LDAP_SERVER_PORT: "{{ openwebui_ldap_server_port }}"
      LDAP_ATTRIBUTE_FOR_MAIL: "{{ openwebui_ldap_attribute_for_mail }}"
      LDAP_ATTRIBUTE_FOR_USERNAME: "{{ openwebui_ldap_attribute_for_username }}"
      LDAP_SEARCH_BASE: "{{ openwebui_ldap_search_base }}"
      LDAP_SEARCH_FILTER: "{{ openwebui_ldap_search_filter }}"
      LDAP_APP_DN: "{{ openwebui_ldap_app_dn }}"
      LDAP_APP_PASSWORD: "{{ openwebui_ldap_app_password }}"
      LDAP_USE_TLS: "{{ openwebui_ldap_use_tls | string | lower }}"
      LDAP_VALIDATE_CERT: "{{ openwebui_ldap_validate_cert | string | lower }}"
      LDAP_CIPHERS: "{{ openwebui_ldap_ciphers }}"
      ENABLE_LDAP_GROUP_MANAGEMENT: "{{ openwebui_ldap_group_management_enabled | string | lower }}"
      ENABLE_LDAP_GROUP_CREATION: "{{ openwebui_ldap_group_creation_enabled | string | lower }}"
      LDAP_ATTRIBUTE_FOR_GROUPS: "{{ openwebui_ldap_attribute_for_groups }}"
      OPENAI_API_BASE_URL: "{{ openwebui_openai_base_url }}"
      OPENAI_API_KEY: "{{ openwebui_openai_api_key }}"
      OPENAI_API_BASE_URLS: "{{ openwebui_openai_api_base_urls | join(';') }}"
      OPENAI_API_KEYS: "{{ openwebui_openai_api_keys | join(';') }}"
      ENABLE_WEB_SEARCH: "{{ openwebui_web_search_enabled | string | lower }}"
      WEB_SEARCH_ENGINE: "{{ openwebui_web_search_engine }}"
      ENABLE_RAG_WEB_SEARCH: "{{ openwebui_web_search_enabled | string | lower }}"
      RAG_WEB_SEARCH_ENGINE: "{{ openwebui_web_search_engine }}"
      SEARXNG_QUERY_URL: "{{ openwebui_searxng_query_url }}"
      VECTOR_DB: "qdrant"
      QDRANT_URI: "{{ openwebui_qdrant_endpoint }}"
      QDRANT_COLLECTION_PREFIX: "{{ openwebui_qdrant_collection_prefix }}"
      OLLAMA_BASE_URL: "{{ openwebui_ollama_base_url }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`{{ openwebui_traefik_hostname }}`)"
      - "traefik.http.routers.openwebui.entrypoints={{ openwebui_traefik_entrypoint }}"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    networks:
      - traefik_proxy
    pull_policy: always

networks:
  traefik_proxy:
    external: true
