[Unit]
Description=Open WebUI
After=docker.service
Requires=docker.service

[Service]
Type=exec
WorkingDirectory={{ openwebui_project_dir }}
ExecStart=/usr/bin/docker compose -f {{ openwebui_compose_file }} up --remove-orphans
ExecStop=/usr/bin/docker compose -f {{ openwebui_compose_file }} down
Restart=on-failure
RestartSec=10s
User={{ openwebui_primary_user }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
