apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_bootstrap_ca_secret_name }}
  namespace: {{ k3s_certmanager_namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
type: kubernetes.io/tls
data:
  tls.crt: {{ (_step_ca_intermediate_cert.content | b64decode | trim) | b64encode }}
  tls.key: {{ (_step_ca_intermediate_key.stdout | string | trim) | b64encode }}
