apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_eso_approle_secret_name }}
  namespace: {{ k3s_eso_namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
type: Opaque
data:
  secret-id: {{ (vault_eso_secret_id | string | trim) | b64encode }}
