apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_sops_age_secret_name }}
  namespace: {{ k3s_argocd_namespace }}
type: Opaque
stringData:
  {{ k3s_sops_age_secret_key_name }}: |
{% for line in (vault_sops_age_key | string).splitlines() %}
    {{ line }}
{% endfor %}
