apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ k3s_bootstrap_step_ca_root_cm_name }}
  namespace: {{ k3s_bootstrap_step_ca_root_cm_namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
data:
  root-ca.crt: |
{% for line in (_step_ca_root_cert.content | b64decode).splitlines() %}
    {{ line }}
{% endfor %}
