AI_VALIDATION_OPENWEBUI_HOST="{{ ai_validation_openwebui_host }}"
AI_VALIDATION_SEARXNG_HOST="{{ ai_validation_searxng_host }}"
AI_VALIDATION_ANYTHINGLLM_HOST="{{ ai_validation_anythingllm_host }}"
AI_VALIDATION_N8N_HOST="{{ ai_validation_n8n_host }}"
AI_VALIDATION_LITELLM_HOST="{{ ai_validation_litellm_host }}"
AI_VALIDATION_LITELLM_MASTER_KEY="{{ ai_validation_litellm_master_key }}"
AI_VALIDATION_REQUIRED_MODELS="{{ ai_validation_required_litellm_models | join(' ') }}"
