OWUI_BLOCKLIST_CONTAINER_NAME="{{ openwebui_blocklist_container_name }}"
OWUI_BLOCKLIST_SOURCE_NAME="{{ openwebui_blocklist_source_name }}"
OWUI_BLOCKLIST_INITIAL_LOOKBACK_MINUTES="{{ openwebui_blocklist_initial_lookback_minutes }}"
OWUI_BLOCKLIST_RETENTION_DAYS="{{ openwebui_blocklist_retention_days }}"
OWUI_BLOCKLIST_STATE_FILE="{{ openwebui_blocklist_state_file }}"
OWUI_BLOCKLIST_OUTPUT_TEXT="{{ openwebui_blocklist_output_text }}"
OWUI_BLOCKLIST_OUTPUT_JSON="{{ openwebui_blocklist_output_json }}"

OWUI_BLOCKLIST_DB_HOST="{{ openwebui_blocklist_postgres_host }}"
OWUI_BLOCKLIST_DB_PORT="{{ openwebui_blocklist_postgres_port }}"
OWUI_BLOCKLIST_DB_NAME="{{ openwebui_blocklist_postgres_db }}"
OWUI_BLOCKLIST_DB_USER="{{ openwebui_blocklist_postgres_user }}"
OWUI_BLOCKLIST_DB_PASSWORD="{{ openwebui_blocklist_postgres_password }}"
OWUI_BLOCKLIST_DB_SSLMODE="{{ openwebui_blocklist_postgres_sslmode }}"
